.nosotros p{
    text-align: center;   
}

.gracias{
    margin-top: 90px;
    text-align: center;
}

.emoji{
    text-align: center;
    margin-top: 40px;
}

.carousel-item img{
    width: 100%;
    vertical-align: top;
    height: 500px;
    object-fit: cover;
}