@import "SCSS/nav";
@import "SCSS/form";
@import "SCSS/galeria";
@import "SCSS/footer";
@import "SCSS/inicio";
@import "SCSS/nosotros";
@import "SCSS/compra"; 

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: lightblue !important;
    margin: 0;
    padding: 0;
    
}

.container-fluid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    align-items: stretch;
    padding: 0 !important;
}






